# Preserve the official fixed upstream license byte-for-byte, including CRLF.
third-party-licenses/hexo-butterfly-5.7.0-LICENSE.txt -text whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
