/**
 * @date: 2024/3/16
 * @author: 小红
 * @fileName: post
 * @Description: 文章
 */
@use '../core';
@use "../core/util";
@use "../modules/components";
@use "../modules/render";
@use "../modules/codeBlock";

.post {
  .header .above {
    &-info {
      padding: 0 8%;
      transition: bottom .3s, padding .3s;

      &.left {
        text-align: left;
      }

      &.center {
        text-align: center;
      }

      @include util.useResponsive(util.$w-md) {
        bottom: 22px;
        padding: 0 22px;
      }
    }
  }

  @include util.useThemeVar((
    post-title-color: (#ffffff, rgba(255, 255, 255, 0.9)),
    post-meta-color: (#eeeeee, rgba(255, 255, 255, 0.7)),
    post-info-title-color: (#1f2d3d, rgba(255, 255, 255, 0.9)),
    post-info-meta-color: (#4c4948, rgba(255, 255, 255, 0.7)),
  ));

  &-title {
    font-weight: 400;
    margin-bottom: 8px;
    color: var(--post-title-color);
    font-size: 2.2rem;
    line-height: 1.5;
    transition: font-size .3s;
    @include util.text-clamp(3);

    @include util.useResponsive(util.$w-md) {
      font-size: 1.8rem;
    }

    @include util.useResponsive(650px) {
      font-size: 1.5rem;
    }
  }

  &-meta {
    color: var(--post-meta-color);
    font-size: 95%;
    user-select: none;
    max-width: 100%;
    overflow-wrap: anywhere;
    word-break: break-word;

    &.left {
      text-align: left;

      .row {
        justify-content: flex-start;
      }
    }

    &.center {
      text-align: center;

      .row {
        justify-content: center;
      }
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;

      .wp {
        min-width: 0;
        max-width: 100%;
      }

      .wp:not(:last-child):after {
        content: '|';
        margin: 0 5px;
      }

      .wp.category, .wp.tag {
        .lk:not(:last-child):after {
          content: '•';
          margin: 0 5px;
          color: var(--post-meta-color);
        }
      }
    }
  }

  .content > .post-info {
    margin-bottom: 1.2rem;
    max-width: 100%;
    overflow-wrap: anywhere;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    .post-title {
      color: var(--post-info-title-color);
    }

    .post-meta {
      color: var(--post-info-meta-color);

      .row .wp.category .lk:not(:last-child):after,
      .row .wp.tag .lk:not(:last-child):after {
        color: var(--post-info-meta-color);
      }
    }
  }
}
