<!--/* 导航栏 */-->
<nav
  xmlns:th="https://www.thymeleaf.org"
  class="nav"
  th:classappend="${(theme.config.nav.fixed == true ? ' fixed' : '') + (post != null and theme.config.nav.display_post_title != false ? ' has-post' : '')}"
>
  <div class="nav-title">
    <a class="link nav-page-title" href="/" th:aria-label="${site.title}">
      <img
        class="site-icon"
        th:if="${!#strings.isEmpty(theme.config.nav.logo)}"
        th:src="${theme.config.nav.logo}"
        th:alt="${theme.config.nav.display_title != false ? '' : site.title}"
        width="36"
        height="36"
      >
      <span class="site-name" th:if="${theme.config.nav.display_title != false}" th:text="${site.title}"></span>
      <span class="post-title" th:if="${post != null and theme.config.nav.display_post_title != false}" th:text="${post.spec.title}"></span>
    </a>
  </div>
  <div class="nav-do">
    <!--/* 搜索 */-->
    <div class="controls">
      <a th:if="${pluginFinder.available('PluginSearchWidget', '>=1.7.1')}" class="link" href="javascript:SearchWidget.open()" title="搜索">
        <i class="icon fas fa-search fa-fw"></i>
        <span class="name">搜索</span>
      </a>

      <!--/* 移动侧边栏按钮 */-->
      <button class="link bars" type="button" aria-label="打开菜单" aria-controls="mobile-navigation" aria-expanded="false">
        <i class="fas fa-bars fa-fw" aria-hidden="true"></i>
      </button>
    </div>


    <!--/* 菜单 */-->
    <menu class="menu" th:with="menuItems = ${menuFinder.getPrimary().menuItems}">
      <th:block th:replace="~{views/menu-items :: items(${menuItems}, 'nav', 0)}"></th:block>
    </menu>
  </div>
</nav>
